<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{#if title}}{{this.title}}{{else}}Base{{/if}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">